<title>NEW_APP_NAME</title>

<% /* Viewport tag for sensible mobile support */ %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<% /* Auto-injected <link> tags: */ %>
<!--STYLES-->
<link rel="stylesheet" href="/styles/main.css">
<!--STYLES END-->

<% /*
  Client-side JavaScript
  ========================

  Scripts can be hard-coded as <script> tags, automatically injected
  by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
  (https://sailsjs.com/docs/concepts/assets/task-automation)
*/ %>


<% /* Auto-injected <script> tags: */ %>
<!--SCRIPTS-->
<script src="/dependencies/sails.io.js"></script>
<script src="/dependencies/vue.js"></script>
<script src="/dependencies/vue-cookie.js"></script>
<script src="/dependencies/vue-router.js"></script>
<script src="/dependencies/axios.min.js"></script>
<script src="/js/main.js"></script>
<!--SCRIPTS END-->
